.container {
   height: 800px;
  width:125%;
  background-color: rgb(77, 12, 137);
  border-radius: 45%;
  position: relative;
  top: -150px;
  left: -230px;


}

.container nav {
  color: rgb(248, 240, 240);
  font-size: 1.4em;
  position: relative;
  left: 1750px;
  top: 200px;
}

.container h1 {
  color: rgb(244, 239, 239);
  font-size: 4em;
  text-align: center;
 position: relative;
 top: -70px;
}

.button {
 padding: 15px;
 background-color: rgb(167, 221, 85);
position: relative;
left: 48%;
top: -100px;
}

.features {
  position: relative;
  left: 10%;
}

.features-items-description {
width: 25%;
text-align: center;
margin: 0%;
}

.features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

img {
  position: relative;
  top: 190px;
  left: 55px;
}
