
/*Create a div for a responsive oval/ background*/
.oval {
background-color: rgb(42, 57, 57);
position: absolute;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 100%;
  border-radius: 150px 150px 0 0;
  transform: rotate(-180deg);

}

.oval::after {
  content: "";
  padding-bottom: 100%;
  display: block;
  
}
.container nav {
  color: rgb(248, 240, 240);
  font-size: 1.4em;
  display: inline;
  
}

.container h1 {
  color: rgb(244, 239, 239);
  font-size: 4em;
  text-align: center;
 position: relative;
 top: -70px;
}

.button {
 padding: 15px;
 background-color: rgb(167, 221, 85);
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: -100px;
}

.founder-photo img {
  width: 15%;
  position: relative;
  top: 15%;
}

.features {
  position: relative;
  left: 10%;
}

.features-items-description {
width: 43%;
margin: 0%;
}

.features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.features img {
  position: relative;

}
.container img {
  position: relative;
  top: 190px;
  left: 55px;
}
body img {
  position: relative;
  top: -300px;
  
}

.cell-phone img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 position: relative;
 top: -105px;
 
}